# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo

# Virtual environment
myenv/

# macOS system files
.DS_Store

# VSCode files
.vscode/

# Files created when packaging app
*.o
SSMaster.app/
.qmake.stash
default.xml
Makefile
moc_*
qrc_*
ui_*